<nav class="logo-center nav-overlay">
          <div class="row">
          <div class="medium-5 columns text-right">
            <ul class="menu">
              <li><a href="builder.html#">Home</a></li>
              <li><a href="builder.html#">Restaurant</a></li>
              <li><a href="builder.html#">Menu</a></li>
            </ul>
          </div>
        
          <div class="medium-2 columns text-center">
            <img alt="Attica" src="../img/logo.png" class="logo medium-9">
            <img alt="Attica" src="../img/logo-dark.png" class="logo logo-dark medium-10">
          </div>
        
          <div class="medium-5 columns text-left">
            <ul class="menu">
              <li><a href="builder.html#">Drinks</a></li>
              <li><a href="builder.html#">Reservations</a></li>
              <li><a href="builder.html#">Contact</a></li>
            </ul>
          </div>
          <div class="nav-toggle"><i class="icon icon_menu"></i></div>
          </div>
        </nav>