<!--     <div class="nav-container">
        <nav class="off-screen">
        <div class="nav-toggle"><i class="icon icon_menu"></i></div>
  
        <div class="push-large">
        <img alt="Attica" src="img/logo.png" class="logo"><br>
        <span class="sub-title text-white">Restaurant &amp; Bar</span>
        <div class="line"></div>
      </div>

      <ul class="menu">
        <li><a href="index.html#home" class="inner-link">Home</a></li>
        <li><a href="index.html#about" class="inner-link">Restaurant</a></li>
        <li><a href="index.html#menu" class="inner-link">Menu</a></li>
        <li><a href="index.html#press" class="inner-link">Press</a></li>
        <li><a href="index.html#gallery" class="inner-link">gallery</a></li>
        <li><a href="index.html#reservations" class="inner-link">Reservations</a></li>
        <li><a href="index.html#contact" class="inner-link">Contact</a></li>
      </ul>
      
      <div class="bottom-content">
        <a href="index.html#"><i class="icon social_twitter"></i></a>
        <a href="index.html#"><i class="icon social_facebook"></i></a>
        <a href="index.html#"><i class="icon social_instagram"></i></a>
        <ul class="contact-details">
          <li><span>Melbourne, Vic</span></li>
          <li><a href="mailto:hello@atticabar.net">hello@atticabar.net</a></li>
          <li><span>(03) 9837 2831</span></li>
        </ul>
      </div>

  </nav>
    </div>
 -->

 <nav class="logo-center nav-overlay original vew-1452630252986"  vai="vew-1452630252986">
          <div class="row vew-1452630252986-0" vai="vew-1452630252986-0">
          <div class="medium-5 columns text-right vew-1452630252986-1" vai="vew-1452630252986-1">
            <ul class="menu vew-1452630252986-2" vai="vew-1452630252986-2">
              <li vai="vew-1452630252986-3" class="vew-1452630252986-3"><a href="#" vai="vew-1452630252986-4" class="vew-1452630252986-4 original" contenteditable="true">Home</a></li>
              <li vai="vew-1452630252986-5" class="vew-1452630252986-5"><a href="#" vai="vew-1452630252986-6" class="vew-1452630252986-6 original" contenteditable="true">Restaurant</a></li>
              <li vai="vew-1452630252986-7" class="vew-1452630252986-7"><a href="#" vai="vew-1452630252986-8" class="vew-1452630252986-8 original" contenteditable="true">Menu</a></li>
            </ul>
          </div>
        
          <div class="medium-2 columns text-center vew-1452630252986-9" vai="vew-1452630252986-9">
            <img alt="Attica" src="../img/logo.png" class="logo medium-9 vew-1452630252986-10" vai="vew-1452630252986-10">
            <img alt="Attica" src="../img/logo-dark.png" class="logo logo-dark medium-10 vew-1452630252986-11" vai="vew-1452630252986-11">
          </div>
        
          <div class="medium-5 columns text-left vew-1452630252986-12" vai="vew-1452630252986-12">
            <ul class="menu vew-1452630252986-13" vai="vew-1452630252986-13">
              <li vai="vew-1452630252986-14" class="vew-1452630252986-14"><a href="#" vai="vew-1452630252986-15" class="vew-1452630252986-15 original" contenteditable="true">Drinks</a></li>
              <li vai="vew-1452630252986-16" class="vew-1452630252986-16"><a href="#" vai="vew-1452630252986-17" class="vew-1452630252986-17 original" contenteditable="true">Reservations</a></li>
              <li vai="vew-1452630252986-18" class="vew-1452630252986-18"><a href="#" vai="vew-1452630252986-19" class="vew-1452630252986-19 original" contenteditable="true">Contact</a></li>
            </ul>
          </div>
          <div class="nav-toggle vew-1452630252986-20" vai="vew-1452630252986-20"><i class="icon icon_menu vew-1452630252986-21" vai="vew-1452630252986-21"></i></div>
          </div>
        </nav>