    <div class="nav-container">
        <nav class="off-screen">
        <div class="nav-toggle"><i class="icon icon_menu"></i></div>
  
        <div class="push-large">
        <img alt="Attica" src="img/logo.png" class="logo"><br>
        <span class="sub-title text-white">Restaurant &amp; Bar</span>
        <div class="line"></div>
      </div>

      <ul class="menu">
        <li><a href="index.html#home" class="inner-link">Home</a></li>
        <li><a href="index.html#about" class="inner-link">Restaurant</a></li>
        <li><a href="index.html#menu" class="inner-link">Menu</a></li>
        <li><a href="index.html#press" class="inner-link">Press</a></li>
        <li><a href="index.html#gallery" class="inner-link">gallery</a></li>
        <li><a href="index.html#reservations" class="inner-link">Reservations</a></li>
        <li><a href="index.html#contact" class="inner-link">Contact</a></li>
      </ul>
      
      <div class="bottom-content">
        <a href="index.html#"><i class="icon social_twitter"></i></a>
        <a href="index.html#"><i class="icon social_facebook"></i></a>
        <a href="index.html#"><i class="icon social_instagram"></i></a>
        <ul class="contact-details">
          <li><span>Melbourne, Vic</span></li>
          <li><a href="mailto:hello@atticabar.net">hello@atticabar.net</a></li>
          <li><span>(03) 9837 2831</span></li>
        </ul>
      </div>

  </nav>
    </div>
